<div class="info">
    <h3>EL ARTE DE RESCATAR PELUDITOS</h3>
    <h1>El Refugio de Kiki</h1>
    <p>
        En este sitio se busca promover la adopción responsable de perros y gatos.
        Aquí encontrarás perros y gatos listos para ser adoptados y brindarles una familia amorosa.
        Estos animales se encontraban en condiciones de maltrato, abandono o en la calle.
        Ahora, gracias a las asociaciones, personas o autoridades que los resguardan, están listos 
        para ese hogar amoroso que tanto se merecen.
    </p>
</div>
<div class="video">
    <iframe 
        *ngFor="let videoLink of videoLinks"
        [src]="videoLink | domseguro:'https://www.youtube.com/embed/' " 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" allowfullscreen>
    </iframe>
</div>
<div class="tab">
    <div class="tabla">
        <h1>Necesitamos de tu ayuda</h1>
        <p>
            Queremos darte la seguridad de que tu donativo es 100% destinado al bienestar de los perros, 
            y por ello, te compartimos un poco sobre nosotros.
        </p>
        <table>
            <tr>
                <td><span>348</span> <br> Perros</td>
                <td><span>49</span> <br> Gatos</td>
                <td><span>233</span> <br> Perros que no se pueden adoptar</td>
                <td><span>115</span> <br> Perros en adopción</td>
            </tr>
            <tr>
                <td><span>125kg</span> <br> de comida utilizados diariamente</td>
                <td><span>27</span> <br> Perros con tratamiento permanente</td>
                <td><span>48</span> <br> Perros con alguna prótesis</td>
                <td><span>22</span> <br> Personas que trabajan en el albergue</td>
            </tr>
        </table>
    </div>    
</div>

<div class="don">
    <h2>JUNTOS PODEMOS MÁS</h2>
    <h1>Tú nos puedes ayudar <br> a cambiar vidas</h1>
    <button class="boton" (click)="donar()">DONAR AQUI</button>
</div>

<div class="tabla2">
    <h1></h1>
    <div class="tablas">
        <h1>Factores Contribuyentes al Problema de los Animales Callejeros en México:</h1>
        <table>
            <tr>
                <th>Factor Contribuyente</th>
                <th>Porcentaje de Encuestados</th>
            </tr>
            <tr>
                <td>Cambio de Residencia</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Pérdida de Mascota sin Encontrarla</td>
                <td>60%</td>
            </tr>
            <tr>
                <td>Falta de Esterilización de Mascotas - Perros</td>
                <td>75%</td>
            </tr>
            <tr>
                <td>Falta de Esterilización de Mascotas - Gatos</td>
                <td>53%</td>
            </tr>
        </table>
    </div>
    <div class="tablas">
        <h1>Situación de los Animales Callejeros en México:</h1>
        <table>
            <tr>
                <th></th>
                <th>Cantidad</th>
                <th>Porcentaje de Mascotas Totales</th>
            </tr>
            <tr>
                <td>Mascotas Totales</td>
                <td>88 millones</td>
                <td></td>
            </tr>
            <tr>
                <td>Albergues Resguardan - Perros</td>
                <td>96,000</td>
                <td></td>
            </tr>
            <tr>
                <td>Albergues Resguardan - Gatos</td>
                <td>32,000</td>
                <td></td>
            </tr>
            <tr>
                <td>Mascotas Callejeras - Perros</td>
                <td>18.8 millones</td>
                <td>30%</td>
            </tr>
            <tr>
                <td>Mascotas Callejeras - Gatos</td>
                <td>9.1 millones</td>
                <td>36%</td>
            </tr>
            <tr>
                <td>Mascotas Esterilizadas - Perros</td>
                <td></td>
                <td>25%</td>
            </tr>
            <tr>
                <td>Mascotas Esterilizadas - Gatos</td>
                <td></td>
                <td>47%</td>
            </tr>
        </table>
    </div>



</div>
<div class="info2">
    <h1>Haz parte del cambio</h1>
    <div class="grid-container">
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Home"><path d="M21 19v-6.733a4 4 0 0 0-1.245-2.9L13.378 3.31a2 2 0 0 0-2.755 0L4.245 9.367A4 4 0 0 0 3 12.267V19a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2z"/></svg>
            <h2>ADOPTA</h2>
            <p>
                Te invitamos a nuestras jornadas de adopción o visita la fundación para que conozcas a tu alma gemela.
                Todos nuestros peludos son entregados en óptimas condiciones de salud a adoptantes responsables que se 
                comprometan a cuidarlos por el resto de sus vidas.
            </p>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="currentColor" stroke-width="2" class="ai ai-GitlabFill"><path d="M22.749 9.769l-.031-.08-3.027-7.9a.788.788 0 0 0-.782-.495.81.81 0 0 0-.456.17.81.81 0 0 0-.268.408L16.14 8.125H7.865L5.822 1.872a.794.794 0 0 0-.269-.409.81.81 0 0 0-.926-.05c-.14.09-.25.22-.312.376L1.283 9.684l-.03.08a5.62 5.62 0 0 0 1.864 6.496l.01.008.028.02 4.61 3.453 2.282 1.726 1.39 1.049a.935.935 0 0 0 1.13 0l1.389-1.05 2.281-1.726 4.639-3.473.011-.01A5.623 5.623 0 0 0 22.75 9.77z"/></svg>
            <h2>APADRINA</h2>
            <p>
                Puedes apadrinar alguno de nuestros peludos para que su estadía en nuestro refugio sea óptima. Manejamos 
                diferentes planes de padrinos en los que puedes hacer un aporte mensual. Si estás interesado en apadrinar 
                un Tepiano contáctanos y te daremos más detalles.
            </p>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Money"><path d="M2 7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V7z"/><circle cx="12" cy="12" r="3"/><path d="M2 9v0a4 4 0 0 0 4-4v0"/><path d="M18 19v0a4 4 0 0 1 4-4v0"/></svg>
            <h2>DONA</h2>
            <p>
                Puedes donar desde alimentos y medicinas hasta cobijas o tejas para la adecuación del refugio. También 
                puedes compartir tiempo con los peluditos, ayudarnos en la fundación o hacer donaciones en dinero.
            </p>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-PeopleGroup"><path d="M16.719 19.752l-.64-5.124A3 3 0 0 0 13.101 12h-2.204a3 3 0 0 0-2.976 2.628l-.641 5.124A2 2 0 0 0 9.266 22h5.468a2 2 0 0 0 1.985-2.248z"/><circle cx="12" cy="5" r="3"/><circle cx="4" cy="9" r="2"/><circle cx="20" cy="9" r="2"/><path d="M4 14h-.306a2 2 0 0 0-1.973 1.671l-.333 2A2 2 0 0 0 3.361 20H7"/><path d="M20 14h.306a2 2 0 0 1 1.973 1.671l.333 2A2 2 0 0 1 20.639 20H17"/></svg>
            <h2>DIFUNDE</h2>
            <p>
                Comparte, participa y apoya las jornadas de adopción y nuestros eventos como caminatas y jornadas de baño. 
                Ayúdanos a promover las jornadas de esterilización gratuitas o de bajo costo que compartimos en nuestras redes.
            </p>
        </div>
    </div>
</div>