<body>
    <div class="containerTitle">
        <h2 id="title1" class="animate__animated animate__fadeIn animate__delay-1s">El refugio</h2>
        <h2 id="title2" class="animate__animated animate__fadeIn animate__delay-1s">de Kiki</h2>
        <img src="imgInicio/logo2.png" alt="" class="animate__animated animate__zoomIn animate__delay-1s">
        <p class="animate__animated animate__fadeIn animate__delay-1s">Adopta a tu compañero mágico</p>
    </div>
    <div id="vertical-line" class="animate__animated animate__fadeIn animate__delay-1s animate__slideInDown"></div>  
    <div class="buttonContainer">
        <button id="button-28" [routerLink]="['/home']" routerLinkActive="router-link-active" role="button" class="animate__animated animate__fadeIn animate__delay-2s">COMIENZA LA AVENTURA AQUÍ</button>
    </div>
</body>
