<div class="uno">
    <h1>¿Quiénes somos?</h1>
    <h6>NUESTRA HISTORIA Y VALORES</h6>
    <h3>Un Santuario para perros localizado en Aguascalientes.</h3>
    <p>
        Nos dedicamos al cuidado y rehabilitación de perros que han sido cruelmente agredidos por el ser humano, sometidos a drogas 
        o incluso violados. Nosotros les damos la oportunidad de que ellos sepan lo que es el AMOR.
        En Milagros Caninos no hay ni una sola jaula; ningún perro está amarrado o encerrado y todos viven libremente.
        Los tenemos separados por áreas: Área de perros discapacitados, Área de perros torturados, Área de perros de la tercera edad, 
        Área de cáncer, Área de cuarentena, Área de gatos, Área de rehabilitación, y Área de terapias.
    </p>

    <h3>Nuestro Staff</h3>
    <p id="dos">
        Profesionales del área: Contamos con un Director Médico de tiempo completo, asistentes veterinarios, auxiliares capacitados 
        para el cuidado y atención de los perros, personal de mantenimiento, y personal de seguridad.
        Amigos especiales: Personas especiales que se pueden beneficiar del cariño y amor de los animales. Abrimos nuestras puertas 
        para personas con síndrome de down, parálisis cerebral, niños de la calle, autismo y personas de la tercera edad, quienes 
        dentro de la medida de sus posibilidades y capacidades, nos demuestran que pueden ser útiles a la sociedad y que la amistad
        entre un perro y un ser humano es real y crea vínculos. Ellos colaboran en la alimentación y terapias de caricias para nuestros 
        perros. Voluntarios: Adicionalmente, agradecemos la participación de amantes de los perros que colaboran de manera voluntaria 
        durante nuestras visitas guiadas, exposiciones y eventos especiales.
    </p>
</div>
<div class="tres">
    <h4>TRABAJANDO EN PRO DE LOS ANIMALES</h4>
    <h1>Nuestra misión</h1>
    <div class="grid-container">
        <div class="card">
            <h2>LO QUE HACEMOS</h2>
            <p>
                Los animales que llegan a la fundación reciben atención veterinaria completa, incluyendo esterilización, 
                vacunación, desparacitación, identificación con microchip y cualquier tratamiento necesario para garantizar 
                su bienestar hasta que logremos encontrarles un hogar que los cuide de por vida.
            </p>
        </div>
        <div class="card">
            <h2>LO QUE QUEREMOS</h2>
            <p>
                Promover la sensibilización colectiva fomentando la esterilización, el respeto a la vida, el NO al maltrato 
                animal y la adopción responsable y soñamos con convertirnos en una organización líder en la protección y 
                preservación de los animales que son víctimas del maltrato y la indiferencia.
            </p>
        </div>
    </div>
</div>
<div class="dos">
    <h1>Problemas a los que nos enfrentamos</h1>
    <div class="container">
        <div class="textos">
            <div class="texto">
                <h2>Animales en vía pública</h2>
                <p>
                    En México se calculan 22 millones de animales de compañía. En Nuevo León hay 500 mil perros y 1.6 millones de gatos. El 70% de los animales con o sin dueño viven en la vía pública.
                </p>
            </div>
            <div class="texto">
                <h2>Fecalismo</h2>
                <p>
                    El promedio de peso de las deposiciones de perros son 500 grs. al día, tenemos 250 toneladas y 91,250 toneladas de heces al año que se integran al aire que respiramos en N.L.
                </p>
            </div>
            <div class="texto">
                <h2>Mordidas</h2>
                <p>
                    En el 2010 la Secretaría de Salud de N.L. reportó más de 4,000 casos de mordedura de perros en vía pública.
                </p>
            </div>
            <div class="texto">
                <h2>Zoonosis</h2>
                <p>
                    Las enfermedades zoonóticas se encuentran con mayor frecuencia en los niños por que tienen menos defensas y son más fácilmente arañados y/o mordidos por animale
                </p>
            </div>
            <div class="texto">
                <h2>Accidentes Viales</h2>
                <p>
                    El gran numero de perros y gatos en las calles hace que los accidentes en los que el animal y/o la persona salgan lastimados incrementa.
                </p>
            </div>
        </div>
        <img src="../../assets/images/Somos/problemas.jpg" alt="Imagen" class="imagen">
    </div>
</div>

<div class="dosa">
    <h1>¿Qué es lo que hacemos?</h1>
    <h5>Tenemos varias funciones como ONG. Nos preocupa el bienestar animal pero también fomentar una cultura de consciencia y un mejor estado de salubridad para Nuevo León. Por eso nuestras actividades incluyen lo siguiente:</h5>
    <div class="container">
        <img src="../../assets/images/Somos/Nosotros.jpg" alt="Imagen" class="imagen">
        <div class="textos">
            <div class="texto">
                <h2>Esterilizaciones</h2>
                <p>
                    Mensualmente organizamos una campaña gratuita de esterilización en las zonas más necesitadas del área metropolitana.
                </p>
            </div>
            <div class="texto">
                <h2>Rescates</h2>
                <p>
                    Rescatamos animales de la vía pública y recibimos algunos de decomisos de las autoridades. Los sanamos, los cuidamos y los rehabilitamos para prepararlos para una futura adopción.
                </p>
            </div>
            <div class="texto">
                <h2>Educación</h2>
                <p>
                    Tenemos varias actividades en las que enseñamos sobre el cuidado básico de los animales de compañía hasta métodos para ayudar a más animales sin hogar.
                </p>
            </div>
            <div class="texto">
                <h2>Adopciones</h2>
                <p>
                    Promovemos la adopción de animales de compañía (perros y gatos) en hogares responsables.
                </p>
            </div>
        </div>
    </div>
</div>
