<body>
    <div>
        <h2>Proyecto escolar realizado por alumnos de la Universidad Autónoma de Aguascalientes</h2>
        <h3>Integrantes:  </h3>
    </div>

    <div class="container">
        <div class="img">
            <img src="../../assets/images/nosotros/sara.jpg" alt="" width="600" height="700">
        </div>

        <div class="content">
            <div class="nombre">
                <h2>Sara Yatzil Carrillo Díaz</h2>
            </div>
            
            <div class="info">
                <p>Uno de mis gustos en esta vida es el café, no puedo pasar un día sin él, además de que me ayuda a mantenrme despierta y con energía cuando estoy programando. Me gusta mucho la carrera y disfruto mucho de hacer actividades que me ayuden a mejorar mis habilidades. 
                </p>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="img">
            <img src="../../assets/images/nosotros/emilio.jpg" alt="" width="800" height="800">
        </div>

        <div class="content">
            <div class="nombre">
                <h2>Emilio Josué De Luna Monreal</h2>
            </div>
            
            <div class="info">
                <p>Me gusta mucho la carrera, siempre estoy enfocado en mis proyectos personales y me gusta estar en movimiento todo el tiempo, me gusta el futból, vivo por él, sueño con él, soy un apasionado de jugar hasta tarde en la consola, en especial Fortnite, pero sobre todo me gusta pasar el tiempo solo, soy un lobo solitario (auuuu!!! viva la manada) y me gusta mi espacio personal.
                </p>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="img">
            <img src="../../assets/images/nosotros/lesley.jpg" alt="" width="900" height="900">
        </div>

        <div class="content">
            <div class="nombre">
                <h2>Lesley Naomy Escalera Moreno</h2>
            </div>
            
            <div class="info">
                <p>Soy estudiante de Ingeniería en Sistemas, me gusta programar aunque a veces me haga sufrir, pero no sólo disfruto de eso, también me gusta mucho leer, en especial creo que me gusta mucho leer sobre fantasía, pero también tengo otros gustos muy variados. Tengo un gato negro y lo quiero mucho. Mi próposito a corto plazo es graduarme y obtener un buen trabajo para poder seguir costeando mis libros y poder alimentar a mi gato. 
                </p>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="img">
            <img src="../../assets/images/nosotros/paco.jpg" alt="" width="600" height="1000">
        </div>

        <div class="content">
            <div class="nombre">
                <h2>Francisco José Guerrero Jiménez</h2>
            </div>
            
            <div class="info">
                <p>Soy un apasionado de la programación, disfruto mucho de sentarme y hacer las tareas para poder adquirir nuevos conocimientos, pero también me gusta mucho jugar con mis compañeros, me gusta ir al gimnasio a despejar mi mente para poder seguir superandome. 
                </p>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="img">
            <img src="../../assets/images/nosotros/carlos.jpg" alt="" width="1000" height="1000">
        </div>

        <div class="content">
            <div class="nombre">
                <h2>Carlos Adrián Márquez Carrillo</h2>
            </div>
            
            <div class="info">
                <p>Soy un apasionado por la música y la fotografía, considero que son una forma de encontrarse a uno mismo en diferentes ámbitos. Me gusta la programación (a veces) y me gustaría adquirir todo el conocimiento posible estando en la universidad para poder lograr conseguir un empleo estable.Si por mí fuera, podría comer pan dulce todos los días, nada que un buen panecito no arregle. Apenitas para un día lluvioso, un panecito, café y un buen libro.</p>
            </div>
        </div>
    </div><br>
</body>