<div class="animate__animated animate__backInLeft">
    <div class="hoja">
        <div id="fotos">
            <div class="wrapper">
                <div class="item">
                    <div class="polaroid">
                        <img src="../../assets/images/mascotas/{{citaRecibida.id}}.jpg">
                        <div class="caption">{{citaRecibida.nombre}}</div>
                    </div>
                </div>
            </div>
        
            <div id="datos">
                <h4 style="font-style: italic;">Datos de la cita</h4>
                <h6><b>Edad:</b> {{citaRecibida.edad}}</h6>
                <h6><b>Color:</b> {{citaRecibida.color}}</h6>
                <h6><b>Raza:</b> {{citaRecibida.raza}}</h6>
                <h6><b>Tiempo:</b> {{citaRecibida.tiempo}}</h6>
                <h6><b>Descripción:</b> {{citaRecibida.descripcion}}</h6>
                <hr>
                <h6><b>Nombre del interesado:</b> {{citaRecibida.nombreDueno}}</h6>
                <h6><b>Número del interesado:</b> {{citaRecibida.numeroDueno}}</h6>
                <h6><b>Hora de la cita:</b> {{citaRecibida.hora}}</h6>
                <h6><b>Fecha:</b> {{citaRecibida.fecha}}</h6>
            </div>
        </div>
    </div>
</div>